// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";




body {
  font-family: 'Noto Sans JP', -apple-system,BlinkMacSystemFont,"Helvetica Neue","Segoe UI","Hiragino Kaku Gothic ProN","Hiragino Sans","ヒラギノ角ゴ ProN W3","Arial","メイリオ","Meiryo",sans-serif;
  color: #455A64;
  p, li, h1, h2, a {
    color: #455A64;
  }
  .red {
    color: red;
  }
  .material-icons-round {
    font-size: 18px;
    display: inline-flex;
    vertical-align: middle;
    color: #819ca0;
  }

  #logo {
    font-family: 'Paytone One', -apple-system,BlinkMacSystemFont,"Helvetica Neue","Segoe UI","Hiragino Kaku Gothic ProN","Hiragino Sans","ヒラギノ角ゴ ProN W3","Arial","メイリオ","Meiryo",sans-serif;
  }
  .navbar {
    .navbar-nav {
      a.nav-link {
        color: #fff;
      }
    }
  }
  .label {
    margin-top: 1rem;
  }
  .pagination {
    margin-top: 3rem;
    li {
      display: inline-block;
       width: 50px;
       height: 40px;
       line-height: 40px;
       text-align:center;
        &.active {
          background: #49b2c2;
          border-radius: 10%;
        a {
          color: #fff;
        }
      }
    }
  }
}

a:hover, a img:hover {
  opacity: 0.7;
  text-decoration: none;
}
.form-inline label {
  display: inline-block;
}

// home
.btns_lost {
  margin-top: 2rem;
  p + p {margin: 1rem;}
}
#searchbox {
  margin: 2rem 0;
}
img {
  border-radius: 24px;
}
#addpet {
  margin-top: 2rem;
}
#logo {
  line-height: 1.2;
  margin: 10px 0 10px 0;
  a {
    color: #fff;
    font-size: 1.8rem;
    font-weight: bold;
  }
}
.bg-green {
  background-color: #49b2c2;
}
.status {
  padding: 4px 6px;
  border-radius: 6px;
  color: #fff;
  display: inline-block;
}
.status_lost {
  background: #9874cc;
}
.status_find {
  background: #C4C36D;
}
.pet-unit {
  margin-bottom: 1.4rem;
  p { margin-bottom: 0.4rem; }
  p.img-fluid {
    margin-bottom: 0.8rem;
  }
  .pet_created_at {
    font-size: 0.9rem;
  }
}

.device-page {
  h1 {
    font-weight: bold;
    font-size: 1.6rem;
    margin-bottom: 1.6rem;
  }
  form {
    padding: 2.6rem 3rem;
    border-radius: 16px;
    box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.1);
    margin-top: 4rem;
  }
  @media (min-width: 576px) {
    form {
      width: 420px;
    }
  }
}

#map {
  height: 300px;
  width: 100%;
}
#form-page {
  max-width: 600px;
  h1 {
    font-size: 1.6rem;
    font-weight: bold;
    margin-top: 2rem;
  }
  h2 {
    font-weight: bold;
    font-size: 1rem;
    margin-top: 1.4rem;
  }
  #tr0 {
    width: 100%;
  }
  .invisible {
    display: none;
  }
  .btn_save, .btn_cancel {
    float: left;
    margin: 1rem 1rem 2rem 0;
  }
}

#pet-page {
  h2 {
    margin-top: 1rem;
    font-size: 1.4rem;
  }
}

#room-page {
  .message-box {
    margin: 2rem 0 0 0;
    border-radius: 10px;
    box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.1);
    padding: 1.6rem;
  }
  .btn_message {
    .button_to {
      width: 50px;
      float: left;
    }
  }
}
