// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";
body {
  font-family: 'Noto Sans JP', sans-serif;
}
a:hover, a img:hover {
  opacity: 0.7;
  text-decoration: none;
}
.form-inline label {
  display: inline-block;
}

// home
.btns_lost {
  margin-top: 2rem;
  p + p {margin: 1rem;}
}
#searchbox {
  margin-bottom: 2rem;
}
img {
  border-radius: 24px;
}
#addpet {
  margin-top: 2rem;
}
#logo {
  line-height: 1.2;
  margin: 10px 0 10px 0;
  a {
    color: #fff;
    font-size: 1.6rem;
    font-weight: bold;
  }
}
.bg-green {
  background-color: #65b6c2;
}

.device-page {
  h1 {
    font-weight: bold;
    font-size: 1.6rem;
    margin-bottom: 1.6rem;
  }
  form {
    padding: 2.6rem 3rem;
    border-radius: 16px;
    box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.1);
    margin-top: 4rem;
  }
  @media (min-width: 576px) {
    form {
      width: 420px;
    }
  }
}



#map {
  height: 300px;
  width: 100%;
}
#form-page {
  max-width: 600px;
  h1 {
    font-size: 1.6rem;
    font-weight: bold;
    margin-top: 2rem;
  }
  h2 {
    font-weight: bold;
    font-size: 1rem;
    margin-top: 1.4rem;
  }
  #tr0 {
    width: 100%;
  }
  .invisible {
    display: none;
  }
  .btn_save, .btn_cancel {
    float: left;
    margin: 1rem 1rem 2rem 0;
  }
}




#room-page {
  .btn_message {
    .button_to {
      width: 50px;
      float: left;
    }
  }
}
