// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";
a:hover, a img:hover {
  opacity: 0.7;
  text-decoration: none;
}
.form-inline label {
  display: inline-block;
}


.btns_lost {
  margin-top: 2rem;
  p + p {margin: 1rem;}
}
#searchbox {
  margin-bottom: 2rem;
}
img {
  border-radius: 24px;
}

#map {
  height: 300px;
  width: 100%;
}
#form-page {
  max-width: 600px;
  h1 {
    font-size: 1.6rem;
    font-weight: bold;
    margin-top: 2rem;
  }
  h2 {
    font-weight: bold;
    font-size: 1rem;
    margin-top: 1.4rem;
  }
  #tr0 {
    width: 100%;
  }
  .invisible {
    display: none;
  }
  .btn_save, .btn_cancel {
    float: left;
    margin: 1rem 1rem 2rem 0;
  }
}
